<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
<header>
    <% include ../partials/header %>
</header>

<main>
<% include ../partials/maincontainer %>
   
   <div class="row">
       <div class="col-md-10 col-md-offset-3">
       
       <ul class="optionlist">
           <% pollArr.forEach(function(poll, index){  %>
               
                <li><a href = '/polls/<%= poll.poll.question %>' > <%= poll.poll.question %></li></a>
              
                <li> by: <%= poll.poll.user %>  </li>
            <a href = '/polldata/<%= poll.poll.question %>' class="hide btn btn-default <%= poll.poll.user %>">Results</a>
           <% }); %>
       </ul>
       
   </div>
   </div>
   </main>
   
   <script type="text/javascript" src="front/ajax.js"></script>
</body>
</html>