<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
</head>

<body>
<header>
    <% include ../partials/header %>
</header>

<main>
<% include ../partials/maincontainer %>

<div class= "row showpollcont"> 
<div class="col-xs-11 col-md-4 col-md-offset-4">

<h1 class="question"><%= question %></h1>
<h3 class="question">by <%= pollUser %></h3><br />


<form id="upvote">
<ul class ="radiolist">
    <% options.forEach(function(option){ %>
        <li><input type="radio" name = "vote" class= "upvote" id="<%= option.body %>"> <%= option.body %></li></a>
        <% }); %>
</ul>
<input type="submit" name="submitButton" value="Vote!">
</form>
<p id="votePosted"></p>

<div id ="added-option" class="hide">
        <form id="added-option-form">
            <input type="submit" name="submitOption" value="Submit" style="float:right;">
            <div style="overflow: hidden; padding-right: .5em;" ><input type="text" name="option" ></div>
        </form>
</div>
        <div id="addOptionDiv" class="hide">Don't see your answer?<button id="add-option" style="float:right;">Add option</button> </div>

</div>


</div> 

</main> 
    <script>var options = <%- JSON.stringify(options) %>;</script>
   <script type="text/javascript" src = "../front/showPoll.js"></script>
   <script type="text/javascript" src="../front/ajax.js"></script>
   
   
</body>
</html>